<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-triangle.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>02-color-triangle.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-texture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-fbo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>328AF1E81C4CEE5D004F5659</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32BC75C21C468E500031EF30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32CD5D581CC76D3D0064618C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32CD5D6B1CC772310064618C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32CD5D7F1CC773510064618C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32CD5D931CC7744E0064618C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32E006141C9262D500B391B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32E017C51C4E5F18005EE4DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32FFDB901C8E7A020073BC9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32FFDBA61C8E83F20073BC9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
